/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #2196F3; /* Blue */
  }
  
  .st-result {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .st-result p {
    margin-bottom: 5px;
  }
  
  .st-dataframe td {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .st-dataframe th {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  